body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    border: 0 !important;
}

th {
    background-color: #d7e2f7;
    color: #000;
    font-weight: bold !important;
    border-bottom: 1px solid #afb5bb !important;
}

tr td:first-child {
    font-weight: bold;
    border-right: 1px solid #afb5bb !important;
}

tr:nth-child(odd) {
    background: #d7e2f7 !important;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

th[rowspan="13"] {
    border: none !important;
}
