<table class="table table-striped" border="1" width="100%">
    <tr>
        <th rowspan="13" width="2%" style="vertical-align: middle;padding: 0;">
            <div style="transform: rotate(270deg); white-space: nowrap; padding: 0;">HEIGHT TO</div>
        </th>
        <th>WIDTH TO</th>
        <th *ngFor="let modelVal of this.model.width">{{modelVal}}</th>
    </tr>
    <tr>
        <td *ngFor="let modelVal1 of this.model.firstIndex">{{modelVal1}}</td>
    </tr>
    <tr style="background-color: #58c2d4;">
        <td *ngFor="let modelVal2 of this.model.secondIndex">{{modelVal2}}</td>

    </tr>
    <tr>
        <td *ngFor="let modelVal3 of this.model.thirdIndex">{{modelVal3}}</td>

    </tr>
    <tr style="background-color: #58c2d4;">
        <td *ngFor="let modelVal4 of this.model.forthIndex">{{modelVal4}}</td>

    </tr>
    <tr>
        <td *ngFor="let modelVal5 of this.model.fifthdIndex">{{modelVal5}}</td>

    </tr>
    <tr style="background-color: #58c2d4;">
        <td *ngFor="let modelVal6 of this.model.sixthIndex">{{modelVal6}}</td>

    </tr>
    <tr>
        <td *ngFor="let modelVal7 of this.model.seventhIndex">{{modelVal7}}</td>
    </tr>
    <tr style="background-color: #58c2d4;">
        <td *ngFor="let modelVal8 of this.model.eiegthIndex">{{modelVal8}}</td>
    </tr>
    <tr>
        <td *ngFor="let modelVal9 of this.model.ninethIndex">{{modelVal9}}</td>
    </tr>
    <tr style="background-color: #58c2d4;">
        <td *ngFor="let modelVal10 of this.model.tenthIndex">{{modelVal10}}</td>
    </tr>

</table>
